.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #B2BEB5;
    .title {
        font-size: 40px;
    } 
}
